<div id='signup'>

<%= render 'shared/error_messages' %>

<h1>Sign up</h1>

<div class='form'>
<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :ref_id %>
    <%= f.text_field :ref_id %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
	<div class='btn'>
    	<%= f.submit "" %>
	</div>
  </div>
<% end %>
</div>

</div>