<div id='body_sample'>
	<div id='human'>
		<%= image_tag('body.png')%>
	</div>
	
	<div id='upper_body'></div>
	<div id='left_arm' class='arms'></div>
	<div id='right_arm' class='arms'></div>
	<div id='lower_body'></div>
	<div id='legs'></div>
	
	<div id='up' class='shadow'>
		<%= image_tag 'upper_body.png'%>
	</div>
	<div id='middle' class='shadow'>
		<%= image_tag 'arms.png'%>
	</div>
	<div id='abs' class='shadow'>
		<%= image_tag 'lower_body.png'%>
	</div>
	<div id='down' class='shadow'>
		<%= image_tag 'legs.png'%>
	</div>
</div>

<div id='links'>
	
	<div id='instructions'></div>
	
	<div id='link_up_2' class='link_2'>
		<h1>Upper Body</h1>
		<h2>Chest</h2>
		<h2>Back</h2>
		<h2>Shoulders</h2>
	</div>
	<div id='link_middle_2' class='link_2'>
		<h1>Abs</h1>
		<h2>Six pack</h2>
		<h2>Oblique</h2>
	</div>
	<div id='link_arms_2' class='link_2'>
		<h1>arms</h1>
		<h2>Biceps</h2>
		<h2>Triceps</h2>
	</div>
	<div id='link_legs_2' class='link_2'>
		<h1>legs</h1>
		<h2>Quads</h2>
		<h2>gluteus</h2>
		<h2>adductor</h2>
		<h2>calf</h2>
	</div>
</div>

<div id='right_block'>
	<div id='videos'>
		<div id='main_vid'></div>
		<div id='small_vid'>
			<div id='prev'>
				<%= image_tag 'prev.png'%>
			</div>
			<div class='tile'></div>
			<div class='tile'></div>
			<div class='tile'></div>
			<div id='next'>
				<%= image_tag 'next.png'%>
			</div>
		</div>
	</div>
</div>