<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'supersized' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,300' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%#= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" %>
  <%= javascript_include_tag "jquery.easing.min.js" %>
  <%= javascript_include_tag "supersized.js" %>
  <%= javascript_include_tag "general.js" %>

	<script type="text/javascript">
	  $(function(){
	  $.fn.supersized.options = {  
	  	fit_portrait: 1,
	  	slides : [
	  		{image : 'images/bg.png'}
	  	]
	  };
      $('#supersized').supersized(); 
  	  });
	</script>

</head>
<body>
	
	<div id='supersized'></div>
		
	<div id='right_bar'></div>
	<% if signed_in? %>
	<div id='refer'>
		<%= link_to image_tag('refer.png'), '/refer' %>
	</div>
	<% end %>
	
	<div id='header'>
		<div id='inner'>
		<% if signed_in? %>
			<div id='nav_menu'>
				<ul>
					<li id='home'><%= link_to 'Home', '/home' %></li>
					<li id='tips'><%= link_to 'Tips', '/tips' %></li>
					<li id='sweeps'><%= link_to 'Sweepstakes', '/sweepstakes' %></li>
					<li id='member'><%= link_to 'Member Benefits', '/member_benefits' %></li>
				</ul>
			</div>
			<div id='head_logo'>
				<%= image_tag 'head_logo.png' %>
			</div>
			<div id='sign_out'>
				Hello <%= link_to current_user.username, '/' %>, you have # referees |
				<%= link_to "Sign out", signout_path, :method => :delete %>
			</div>
		<% else %>
			<div class="text"><span class='normal'>Haven’t joined us yet? </span><span class='red'><%= link_to 'Register here', signup_path %></span></div>
			<div class='login'>
			<%= form_for(:session, :url => sessions_path, :class=>'login') do |f| %>
			  <div class="field">
			    <%= f.label :email, 'Email' %>
			  </div>
			  <div class='inputs'><%= f.text_field :email %></div>
			  <div class="field">
			    <%= f.label :password, 'Password' %>
			  </div>
			  <div class='inputs'><%= f.password_field :password %></div>
			  <div class="btn">
			    <%= f.submit "" %>
			  </div>
			<% end %>
			</div>
		<% end %>
				
			</div>
		</div>
	</div>
	
	<div id='cont'>
		<div id='cont_center'>
		  <%= yield %>
		</div>
	</div>
		<div id='footer'>
			<div id='inner'>
				<div id='left'>Copyright © Fiteeze. All rights reserved</div>
				<div id='right'>
					<div class='red'><%= link_to 'privacy policy', '/privacy' %></div>
					<div class='sp'>|</div>
					<div class='red'><%= link_to 'terms of use', '/terms' %></div>
					<div class='sp'>|</div>
					<div class='red'><%= link_to 'contact', '/contact' %></div>
				</div>
			</div>
		</div>
	<div style='position:absolute;bottom:30px;left:5px'>
	<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
